<html>
  <head>
    <meta charsef="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <nav class="sidebar">
      <header class="header">
        <h1 class="main">Retrenched by Covid</h1>
        <ul class="links">
          <li class="listitem"><a href="#what" class="linkitem">What's this about?</a></li>
          <li class="listitem"><a href="#contribute" class="linkitem">Contribute to this project</a></li>
          <li class="listitem"><a href="#add" class="linkitem">Add yourself to the list</a></li>
        </ul>
      </header>
      <footer class="footer">
        <p class="text">Made with 💙 by Richard Parayno</p>
        <p class="alttext">Hang in there, you'll get back on your feet soon! 🚀</p>
      </footer>
    </nav>
  </body>
</html>