@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  background-color: #1c1c1c;
  margin: 0;
  color: #fdfdfd;
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar > .header > .links {
  list-style: none;
  padding: 0;
}

.sidebar > .header > .links > .listitem {
  margin: 16px 0px;
  padding: 0 24px;
}

.sidebar > .header > .links > .listitem > .linkitem {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  flex: none;
  order: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidebar > .header > .links > .listitem > .linkitem:hover {
  background: linear-gradient(126.8deg, rgba(145, 98, 182, 0.9) 0%, rgba(72, 154, 200, 0.9) 96.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar > .header > .main {
  font-family: "Inter", sans-serif;
  padding: 60px 24px;
  margin-top: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

.footer {
  padding: 24px 24px;
  font-size: 13px;
}

.footer > .text {
  font-weight: bold;
}

.footer > .alttext {
  color: #414141;
}

.main-container {
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding: 60px;
}

.main-container > .user-card {
  min-width: 250px;
  max-width: 250px;
  height: auto;
  display:flex;
  flex-direction: column;
  border: 1px dotted yellow;
  color: #fdfdfd;
  margin-left: 35px;
  margin-right: 35px;
}

.user-card > .user-title {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.user-card > .user-img {
  height: 200px;
  width: auto;
  object-fit: cover;
}

.user-card > .user-name {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.user-card > .user-experience {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.user-card > .user-social {
  color: #FDFDFD;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.user-card > .user-social:hover {
  background: linear-gradient(126.8deg, rgba(145, 98, 182, 0.9) 0%, rgba(72, 154, 200, 0.9) 96.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-card > .user-description {
  font-size: 14px;
  line-height: 16px;
  color: #FDFDFD;
}

.user-card > .user-cta {
  font-weight: bold;
  border: 1px solid #FDFDFD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #FDFDFD;
  text-decoration: none;
  padding: 7px 23px;
  align-self: start;
}

.-margin-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.-margin-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}